body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiSlider-rail {
  background: black !important;
  opacity: 1 !important;
}

.MuiSlider-track,
.MuiSlider-thumbColorPrimary {
  background: black !important;
  color: black !important;
}

.Mui-active,
.MuiSlider-thumbColorPrimary:hover {
  box-shadow: none !important;
}
